html, body {
  margin: 0;
  padding: 0;
}

canvas{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 5px solid black;
}

h1 {
  color: rgb(11, 105, 163);
  font-style:italic;
}

h2 {
  color: #ff0000;
}

h3 {
  color: #000000;
  text-transform: uppercase;
}
